<!DOCTYPE html>
<html th:replace="fragments/layout :: layout(~{::title}, ~{::section})">

    <head>
        <title>Ajouter un produit</title>
    </head>

<section>
    <h2>Ajouter un autre produit</h2>

    <form th:action="@{/products/add}" method="post" th:object="${product}">
        <div>
            <label for="name">Nom du produit</label>
            <input type="text" id="name" placeholder="Ex: Macbook Air" th:field="*{name}"/>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"  style="color: red"></div>

        </div>

        <div>
            <label for="price">Prix du produit</label>
            <input type="text" id="price" placeholder="10.00" th:field="*{price}"/>
            <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color:red"></div>
        </div>

        <div>
            <button type="submit">Enregistrer</button>
            <a th:href="@{/products}">Retourner aux produits</a>
        </div>
    </form>
</section>

</html>